.botao{
    color: white;
    font-size: 21px;
    width: 298px;
    height: 56.426px;
    border: 0px;
    border-radius: 88.166px;
    background:linear-gradient(94deg, #EED761 21.68%, #FFB9AF 79.85%);
    box-shadow: 0px 3.52663px 35.26627px 0px rgba(255, 185, 175, 0.50);
    position: absolute;
    width: 298px;
}

.card{
    background-color: #FAFAFA;
    height: 169px;
    width: 239px;
    filter: blur(0.6000000238418579px);
    border-radius: 7px;
    position: relative;
}

.localidade{
    color: #122330;
    font-size: 16.071px;
    margin: 0px;
}

.cards{
    display: flex;
    justify-content: space-start;
    gap: 26px;
    position: absolute;
    border-radius: 2px;
}

.cabecalhoCard{
    display: flex;
    justify-content: flex-start;
    gap: 80px;
    position: absolute;
    left: 24px;
    top: 20px;
}

.imagem {
    border-radius: 2px;
    left: 20px;
    position: absolute;
    top: 52px;
}

.social{
    display: flex;
}